body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .nav{
    display: inline;
    font-size:30px;cursor:pointer;
    margin-top: 4px;
    margin-bottom: 4%;
  }
  .head{
    display: flex;
    justify-content: center;
    margin-top: 25px;

    
  }
  .home{
     color: #818181;
     display: grid;
     justify-content: center ;
     display: inline-block;
    
  }
  .about{
    word-spacing: 0.2em;
    text-align: justify;
    border: solid;
    background-color: rgb(240, 255, 253);
    border-width: 2px ;
    margin :40px auto ;
    padding: 50px;
    max-width: 1200px;
    min-width: 300px;
    border-radius: 20px;
    -webkit-border-radious :20px;
    -moz-border-radious:20px ;
    
}
.subhead{
  display: inline;
  margin-left: 68px;
  color:grey;
}